# Remove bin directory
bin/
# Remove obj directory
obj/
# Remove results directory
results/particles_old/particle_*
results/particle_*
# Remove local libs directory
libs/
# Remove jobs file directory
jobs/
